/*   Theme default css */

/* ======font family=========
font-family: 'Alte Haas Grotesk';
font-family: 'Jumper PERSONAL';
font-family: 'Montserrat', sans-serif;
*/



body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #202126;
  color: #fff;
  font-family: 'Alte Haas Grotesk';
  position: relative;
}

  
button {
  cursor: pointer; 
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  /* color: inherit; */
  text-decoration: none;
  }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px; 
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 
.thm_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    height: 40px;
    width: 153px;
    color: #7D0C0C;
    font-family: 'Jumper PERSONAL';
    letter-spacing: 0.04em;
    line-height: 21px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    background: linear-gradient(87.91deg, #E6BE4B 7.59%, #FFAA2B 89.47%);
    transition: .3s;
    flex-shrink: 0;
}

.thm_btn:hover {
    background: linear-gradient(87.91deg, #FFE599 7.59%, #FFBF5F 89.47%);
}

.thm_btn span {
    display: block;
    height: 17px;
}

.thm_btn:before {
    content: "";
    position: absolute;
    width: 101%;
    height: 100%;
    border: 2px solid transparent;
    background: linear-gradient(45deg,#EC7F2F,#E7BF4B) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    border-radius: 22px;
    transition: .3s;
}

.thm_btn:hover:before {
    background: linear-gradient(45deg,#E7BF4B,#EC7F2F) border-box;
}

.thm_btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1%;
    top: 0;
    z-index: -1;
    border-radius: 30px;
}

/* default-css END 
================================== */
 

.header-area {position: relative;}

.header-area::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 62px;
    background: linear-gradient(270.02deg, #202127 -0.92%, #2B2E35 58.99%, #222329 99.99%);
    top: 0;
    z-index: -2;
    border-bottom: 4px solid #323034;
}
.container {
}
.row {
}
.align-items-center {
}
.col-6 {
}
.d-block {
}
.d-lg-none {
}
.text-center {
}
.bar {
}
.bar-icon {
}
.siteBar-btn {
}
.col-lg-12 {
}
.d-none {
}
.d-lg-block {
}
.text-right {
}
.menu-area {display: flex;justify-content: center;padding-top: 10px;}
.home {
}
a.link {background: #202126;width: 180px;height: 52px;display: flex;align-items: center;justify-content: center;border-radius: 10px;position: relative;font-size: 17px;flex-wrap: wrap;line-height: 1;letter-spacing: 0.15em;border-bottom-right-radius: 0;}

a.link span {
    font-size: 12px;
    color: #A7AAB7;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1;
    margin-bottom: -22px;
}

a.link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -4px;
    top: 0px;
    border-radius: 10px;
    z-index: -1;
    background: linear-gradient(180deg, #31343E 0%, #3E3431 100%);
    border-bottom-right-radius: 0;
    transition: .3s;
}

a.link:hover:before {
    background: linear-gradient(183deg, #32343D 46%, #ff4855 100%);
    width: 104%;
    height: 107%;
    left: -4px;
    top: 0px;
}
.Logo {margin-left: 90px;margin-right: 50px;}

a.Logo img {
    width: 210px;
}
.REGISTER {
}
.SUPPORT_btn {position: absolute;right: 20px;top: 10px;background: linear-gradient(90.82deg, #C74252 -5.07%, #DA5668 81.03%);border-radius: 12px;color: #FFD0D6;font-size: 15px;width: 145px;text-align: center;height: 36px;align-items: center;display: flex;justify-content: center;font-family: 'Jumper PERSONAL';line-height: 1;transition: .3s;}

.SUPPORT_btn:hover {
    background: linear-gradient(90.82deg, #FF8392 -5.07%, #FE657B 81.03%);
}

.SUPPORT_btn:after {
    content: "";
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    z-index: -1;
    border: 5px solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    background: linear-gradient(90.63deg, #DA5769 2.99%, #CA4555 95.26%);
    /* transition: .3s; */
}

.SUPPORT_btn:hover:after {background: linear-gradient(90.63deg, #FF8191 2.99%, #FFC8CE 95.26%);-webkit-mask: none;-webkit-mask-composite: unset;border: none;}

a.SUPPORT_btn i {
    color: #661C25;
    margin-right: 10px;
}
.fab {
}
.fa-twitter {
}
.menu-area{}

/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: left;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 111;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 32px;
  color: rgb(255, 0, 43);
}

/* Header section END */


/*============Home Page Start =============*/

/* ______________hero Area Start_______________ */
.hero-Area {
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

.afNone:after,.afNone:before {
    display: none;
}

.hero-Area:after {
    content: "";
    background: url(../img/Background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-position: center;
}

section.hero-Area:before {
    content: "'";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(105.39deg, #202126 11.68%, rgba(32, 33, 38, 0) 25.34%, rgba(32, 33, 38, 0.0853659) 75%, #202126 100.26%);
}
.social_link {
    position: absolute;
    top: -30px;
    z-index: 99;
}

.social_link ul {
    position: absolute;
    bottom: 15px;
}

.social_link ul li {
    margin: 45px 10px;
    text-align: center;
}
.DISCOVER-OFFERS {text-align: center;margin-bottom: 50px;letter-spacing: 0.095em;font-size: 25px;margin-top: 130px;text-transform: uppercase;position: relative;z-index: 99;}

.DISCOVER-OFFERS.howTo .OFFERS-text {
    width: 350px;
}

.OFFERS-text {
    position: relative;
    text-align: center;
    width: 107px;
    margin: auto;
}

.OFFERS-text p {
    font-weight: 900;
    position: absolute;
    top: 3px;
    left: 0;
    margin-bottom: 0;
    z-index: 1;
    font-family: 'Jumper PERSONAL';
    color: #212127;
    -webkit-text-stroke: 1px #86858A;
}

.DISCOVER-OFFERS span {
    display: block;
    font-family: 'Jumper PERSONAL';
    font-weight: 900;
    background: #FFAB2B;
    background: linear-gradient(to right, #FFAB2B 0%, #E8BD49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    z-index: 2;
}

.DISCOVER-OFFERS_wrp {max-width: 930px;margin: auto;margin-top: 50px;position: relative;z-index: 99;}
.col-lg-8 {
}
.dic_two .DISCOVER-OFFERS_blk:last-child {
    margin-top: 39px;
}

.DISCOVER-OFFERS_blk img {
    max-width: 600px;
}

.dic_two {
    height: 100%;
}

.DISCOVER-OFFERS_blk i img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.DISCOVER-OFFERS_blk:hover i img {
    transform: scale(1.02);
}

.DISCOVER-OFFERS_blk i {
    display: block;
    position: relative;
}

.DISCOVER-OFFERS_blk i a {
    position: absolute;
    left: 50%;
    bottom: 19px;
    transform: translateX(-50%);
    font-style: normal;
    width: 196px;
    height: 33px;
    line-height: 11px;
    overflow: hidden;
}

.DISCOVER-OFFERS_blk i a span {
    height: 7px;
}

.dic_two .DISCOVER-OFFERS_blk i a {width: 115px;height: 24px;font-size: 10px;bottom: 15px;}
.thm_btn {
}
.off_btn-2:after {background: linear-gradient(87.91deg, #FF5662 7.59%, #F75D68 89.47%);}

.off_btn-3:after {
    background: linear-gradient(87.91deg, #50C2E9 7.59%, #8BEDFD 89.47%);
}
.col-lg-4 {
}
.register_wrp {display: flex;align-items: center;margin-top: 260px;position: relative;margin-bottom: -55px;z-index: 30;border-bottom-left-radius: 24px;}

.bg-border {
    background: linear-gradient(180deg, #2A2D34 0%, #191C23 100%);
    border-radius: 24px;
    position: relative;
    max-width: 1450px;
}

.bg-border.left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    filter: drop-shadow(1px 1px 0px #B05561) drop-shadow(0px -1px 0px #B05561);
}

.bg-border.right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    filter: drop-shadow(0px 1px 0px #B05561) drop-shadow(-1px -1px 0px #B05561);
    margin-left: auto;
}

.bg-border:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: linear-gradient(180deg, #2A2D34 0%, #191C23 100%); */
    border-bottom-left-radius: 24px;
}

.register_wrp > i {
    display: block;
    margin-top: -60px;
    margin-left: -50px;
    position: relative;
    z-index: 9;
}
.register_text {max-width: 470px;position: relative;z-index: 9;margin-left: 50px;padding: 50px 0;}

.register_wrp:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg, #943653 100%, #B05561 100%); */
    left: -1px;
    top: 1px;
    z-index: -3;
    border-bottom-left-radius: 24px;
}

.register_text .sec_title {
    text-align: center;
}

.register_text .sec_title span {margin-left: 150px;}

.sec_title span {
    background: linear-gradient(270deg, #FF2A50 1.94%, #FE667F 97.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Jumper PERSONAL';
    font-size: 27px;
    line-height: 1;
    display: block;
    margin-top: -10px;
}

.sec_title h2 {
    font-size: 48px;
    font-family: 'Jumper PERSONAL';
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    line-height: 1;
}

.register_text p {
    letter-spacing: 0.26em;
    font-size: 14px;
    margin: 50px 0;
}

.register_text a {
    margin: auto;
    filter: drop-shadow(0px 0px 10px rgba(255, 173, 48, 0.5));
    width: 176px;
    height: 46px;
}

.register_text a span {
    height: 15px;
}
.sec_title {
}
.dice_icon {
}
.dice_icon-1 {position: absolute;top: -30px;right: 80px;}
.dice_icon-2 {position: absolute;top: -125px;right: 0;}


.hero_plne_bg {
}

.hero_plne_bg img {
    position: absolute;
}
.a-plan {right: 198px;z-index: 6;bottom: 18px !important;}
.b-plan {left: 111px;z-index: 4;bottom: 10px;}
.c-plan {z-index: 2;bottom: 316px;right: 15px;}
/* _______________hero Area End______________ */


/* ______________offer Area Start_______________ */
.offer-Area {padding: 200px 0 100px;background: url(../img/Background-Roobet.png);position: relative;z-index: 10;/* overflow: hidden; */}

.red_overly {
    position: relative;
}

.red_overly:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 270px;
    bottom: 0;
    left: 0;
    z-index: -3;
    background: linear-gradient(0deg, #CC2443 0.01%, rgba(204, 36, 67, 0) 47.98%);
}

section.offer-Area .container {
    max-width: 1570px;
}

.offer_text_row {
    align-items: end;
    margin-bottom: 65px;
}

.offer-Area .sec_title {
    text-align: center;
    max-width: 650px;
    margin: auto;
}

.offer-Area .sec_title p {
    margin-bottom: 0;
    margin-top: 50px;
}

.sec_title p {font-size: 14px;letter-spacing: 0.26em;}
.offer_btn {display: flex;width: 100%;justify-content: end;}

.offer_btn a {
    margin-left: 15px;
}

.offer_card_wrp {display: flex;justify-content: space-between;}
.offer_card_blk {display: flex;position: relative;margin: 0 0px;border-radius: 20px;}

.offer_card_blk.active:before {
    right: 9px;
    width: 100%;
}

.offer_card_blk.active::after {
    opacity: 1;
    width: 99%;
}

.offer_card_blk.active i a {
    display: none;
}

.offer_card_blk i > img {
    height: 420px;
}

.border_path {position: relative;}

.ocb-1::before {background: linear-gradient(21deg, #FFFAE6 -194%, #FF525E 408%);}

.ocb-4::before {background: linear-gradient(180deg, #A746A8 -8.95%, #FD889B 91.05%);}

.ocb-3::before {
    background: linear-gradient(180deg, #54BFE4 0%, #4ACBEC 100%) !important;
}

.ocb-2::before {background: linear-gradient(180deg, #FE767F 0%, #FF525E 100%);}

.border_path::before {
    content: "";
    /* position: absolute; */
    width: 92.5%;
    height: 424px;
    top: -2px;
    right: 11px;
    border-radius: 20px;
    z-index: 1;
    border: 3px solid transparent;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    position: absolute;
    transform: skewX(-3.4deg);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
}

.offer_card_blk:after {
    content: "";
    position: absolute;
    background: linear-gradient(275.66deg, rgba(0, 0, 0, 0.2) 39.49%, rgba(0, 0, 0, 0) 65.69%), linear-gradient(180deg, #2A2C33 0%, #1A1D24 100%);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: skewX(-3.4deg);
    width: 91.5%;
    height: 418px;
    top: 1px;
    right: 14px;
    z-index: -1;
    opacity: 0;
}

.offer_card_blk i a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

a.info {
    z-index: 99;
    right: 10px;
    top: 15px;
    left: auto !important;
    transform: unset;
    display: block !important;
}

.offer_card_blk i {
    display: block;
    position: relative;
    margin-bottom: -2px;
}
.offer_card_text {display: none;}

.active .offer_card_text {
    display: block;
}

.offer_card_text h2 {
    font-size: 48px;
    font-family: 'Jumper PERSONAL';
    margin-bottom: 40px;
}

.offer_card_text p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.095em;
    color: #CCD0FF;
}

.offer_card_text p a {
    text-decoration: underline;
}

.offer_card_text p .ab {
    color: #CCD0FF;
    font-weight: 600;
}

.offer_card_text i a {
    position: absolute;
    bottom: 0;
}


.offer_card_text {
    max-width: 286px;
    z-index: 9;
    transform: translate(40px, 25px);
    padding-right: 40px;
}


.offer_card_text.active i img {
    width: 100%;
}
.off_p-1 {margin-left: -10px;}
.ab {
}
.bc {color: #F8BA38;font-weight: 600;}
.cd {color: #FFEE55;font-weight: 700;}
.de {color: #FF91FF;font-weight: 600;}
.off_p-2 {margin-left: -18px;}
.off_p-3 {margin-left: -25px;}
.oc_btn-4 {
}
.offer_coin {text-align: right;position: relative;z-index: 0;width: 100%;height: 170px;}
.offer_coin-1 {position: absolute;right: 30px;z-index: 1;top: 15px;}
.offer_coin-2 {position: absolute;right: -30px;}
.Roulette {position: absolute;z-index: -3;bottom: -140px;left: 50px;}

.corner_bdr {
}

.corner_bdr span {
    position: absolute;
    background: linear-gradient(180deg, #E6BE4B 0%, #FFE59B 100%);
    border-radius: 28px;
    width: 98.25px;
    height: 51.42px;
    z-index: -1;
}
.corner_left {bottom: -8px;transform: skewX(-10deg);left: -3px;}

.active span.corner_left {
    left: auto;
    right: 87%;
}
.corner_right {right: -3px;top: -4px;transform: skewX(-20deg);width: 70px !important;}
/* _______________offer Area End______________ */


/*============Home Page End =============*/


/*============ Page Start =============*/
.body_bg{position: absolute;bottom: 110px;width: 100%;z-index: -10;}
section.register-Area{
    padding: 90px 0 250px;
}

section.register-Area .Roulette {
}
.cs_blk_content {
  display: flex;
}

i.cs_blk_three {
    margin-left: -100px;
}
.cs_blk {padding: 40px;margin: 70px 0;position: relative;z-index: 3;}

.cs_blkk > img {/* top: 0; */z-index: -3;bottom: 0;position: absolute;}

img.dice_6 {
    width: 120px;
    left: -77px;
    top: -100px;
    position: absolute;
}

img.coins5 {bottom: -60px;z-index: 99;right: 115px;}

img.coins4 {
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    left: 135px;
}

img.dice_11 {right: 18%;z-index: 9;top: -95px;}

img.cs-3 {
    right: 0;
    bottom: 55px;
}

img.cs-2 {
    left: 0;
    bottom: 15px;
}

img.cs-1 {
    bottom: 210px;
    right: 180px;
}

.cs_blkk {
    position: relative;
}

img.cs-5 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
}

img.dice_22 {
    position: absolute;
    right: 39px;
}
.bg-border {
}
.right {
}
.bg-border.left .cs_blk_content {text-align: right;justify-content: end;}
.cs_blk_text {
}

.left .cs_blk_text {margin-right: 50px;}

.cs_blk_text h5 {
    margin-top: 10px;
    font-weight: 400;
}

.cs_blk_text h5 span {
    background: linear-gradient(90deg, #F1CA5A 100%, #D7872D 30.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}

.cs_blk_text h5 {
    margin-bottom: 50px;
}

.cs_blk_text h4 span {
    letter-spacing: 0.165em;
    background: linear-gradient(90deg, #FF2950 0%, #FE6076 30.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.cs_blk_text p {
    font-size: 14px;
    letter-spacing: 0.165em;
    line-height: 38px;
    margin-bottom: 50px;
}

.right .cs_blk_text {
    margin-left: 50px;
}

.cs_blk_text h4 a {
    text-decoration: underline;
    color: #FE667F;
}

.cs_blk_text h4 {
    letter-spacing: 0.165em;
    margin-bottom: 50px;
}

.cs_blk_text p {}
.thm_btn {
}
.left {
}
/*============ Page End =============*/



/*============footer Page End =============*/
footer.footer_area{
    position: relative;
    background: #16161A;
    padding: 20px 50px 30px;
    z-index: 99;
}

footer.footer_area .row {
    align-items: end;
}

footer.footer_area hr {
    background: #2B2F36 !important;
    opacity: 1;
    max-width: 97%;
    margin: 30px 0 20px;
    margin-left: auto;
}
.footer_area {
}
.f-logo {
}

.f-logo img {
    max-width: 240px;
}
.footer_social {text-align: right;}

.footer_social ul li a {
    font-size: 30px;
    background: linear-gradient(239.24deg, #8A8A9D 0.01%, #706C97 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.footer_social ul li {
    display: inline-block;
    margin: 0 5px;
}

.footer_btm {
}

.footer_btm p {
    max-width: 800px;
    color: #CE6D70;
}
/*============footer Page End =============*/